body {
  margin: auto;
  height: 100%;
}

.topbar {
  display: block;
}

.container {
  display: block;
  background-image: url('../img/alley-backway.jpg');
  background-size: cover;
  background-position: 0px 35px;
  background-repeat: no-repeat;
  height: 100vh;
}

.button {
	width: 130px;
	margin: 3px 10px;
	padding: 5px 10px;
	background-color: #cccccc;
	text-decoration: none;
	color: black;
	display: inline-block;
	border-radius: 4px;
	text-align: center;
}

.button:hover {
	text-decoration: underline;
	cursor: pointer;
}

.bubble {
  position: absolute;
  display: block;
  left: 675px;
  margin-top: 250px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 15px;
  border-radius: 7px;
  border: 1px solid black;
  color: black;
  background-color: white;
  text-align: center;
  min-width: 50px;
  max-width: 35%;
  z-index: 1000;
}

.rapper {
  position: fixed;
  height: 250px;
  width: 135px;
}

#default {
  content: url('../img/rappers/default-rapper.png');
}

#eminem {
  content: url('../img/rappers/eminem.png');
}

#rick-ross {
  content: url('../img/rappers/rick-ross.png');
}

#kanye-west {
  content: url('../img/rappers/kanye-west.png');
}

#schoolboy-q {
  content: url('../img/rappers/schoolboy-q.png');
}

#snoop-dogg {
  content: url('../img/rappers/snoop-dogg.png');
}

#tupac {
  content: url('../img/rappers/tupac.png');
}